
nav {
    position: relative;
    background-color: rgb(194, 196, 199);
    text-align: center;
    /* justify-content: space-between; */
    
}

.nav-bar {
    position: relative;
    right: 20px;
    margin-left: 20px;
    font-size: 17px;
    color: rgb(18, 127, 199);
    font-weight: bolder;
    
    justify-content: space-between;
}

.container {
    width: 95%;
    text-align: center;
  }
  img {
    text-align: center;
    width: auto;
    height: auto;
   max-width: 600px;
 max-height: 400px;
 margin-top: 60px;
 margin-bottom: 40px;
 position: relative;
 justify-content: center;
}
#intro {
    background-color: rgb(18, 127, 199);
    margin-top: 30px;
    padding: 30px;
    
  }

  h1 {
    color: white;
    font-weight: 100;
  }
  h3 {
      font-weight: 600;
  }
  .h3 {
    font-weight: 300;
    color: rgb(77, 75, 75);
  }
/* .mainImage {
  justify-content: center;
 
 
} */
.photo {
  box-shadow: -30px 30px 20px;
}
