
nav {
    /* position: relative; */
    background-color: rgb(194, 196, 199);
    text-align: center;
    /* justify-content: space-between; */
    
}

.nav-bar {
    /* position: relative;
    right: 20px;
    margin-left: 10px;
    font-size: 17px; */
    color: rgb(18, 127, 199);
    
    font-weight: bolder;
    margin-right: 20px;
    align-items: center;
    text-align: center;
    justify-content: space-around;

  
/*     
    justify-content: space-between; */
}

.container {
    width: 95%;
    text-align: center;
    position: center;
    
    
  }
  img {
    text-align: center;
    width: auto;
    height: auto;
   max-width: 600px;
 max-height: 400px;
 margin-top: 60px;
 margin-bottom: 40px;
 
}
#intro {
    background-color: rgb(18, 127, 199);
    margin-top: 30px;
    padding: 30px;
    
  }

  h1 {
    color: white;
    font-weight: 100;
  }
  h3 {
      font-weight: 600;
  }
  .h3 {
    font-weight: 300;
    color: rgb(77, 75, 75);
  }
/* .mainImage {
  justify-content: center;
 
 
} */
.photo {
  box-shadow: -30px 30px 20px;

  position: center;
  display: center;

}

@media screen and (min-width: 470px) {
  .nav-bar {
    font-size: larger;
    margin-right: 30px;
    
  }
}
@media screen and (min-width: 640px) {
  .nav-bar {
    margin-right: 80px;
  }
}

